@import "tailwindcss";

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&family=Inter:wght@300;400;600&display=swap');
}

@theme {
  --font-serif: "Noto Serif SC", serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-stone-900 bg-stone-50;
}

.serif {
  @apply font-serif;
}
